appVentasOnline/src/wsdl/10.0.0.7_8080/wsVentasOnline/srvProveedor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsServicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsServicios/" name="srvProveedor">
<types>
<xsd:schema>
<xsd:import namespace="http://wsServicios/" schemaLocation="http://10.0.0.7:8080/wsVentasOnline/srvProveedor?xsd=1"/>
</xsd:schema>
</types>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<message name="insertarResponse">
<part name="parameters" element="tns:insertarResponse"/>
</message>
<message name="actualizacion">
<part name="parameters" element="tns:actualizacion"/>
</message>
<message name="actualizacionResponse">
<part name="parameters" element="tns:actualizacionResponse"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="listarPorID">
<part name="parameters" element="tns:listarPorID"/>
</message>
<message name="listarPorIDResponse">
<part name="parameters" element="tns:listarPorIDResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<portType name="srvProveedor">
<operation name="insertar">
<input wsam:Action="http://wsServicios/srvProveedor/insertarRequest" message="tns:insertar"/>
<output wsam:Action="http://wsServicios/srvProveedor/insertarResponse" message="tns:insertarResponse"/>
</operation>
<operation name="actualizacion">
<input wsam:Action="http://wsServicios/srvProveedor/actualizacionRequest" message="tns:actualizacion"/>
<output wsam:Action="http://wsServicios/srvProveedor/actualizacionResponse" message="tns:actualizacionResponse"/>
</operation>
<operation name="listar">
<input wsam:Action="http://wsServicios/srvProveedor/listarRequest" message="tns:listar"/>
<output wsam:Action="http://wsServicios/srvProveedor/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="listarPorID">
<input wsam:Action="http://wsServicios/srvProveedor/listarPorIDRequest" message="tns:listarPorID"/>
<output wsam:Action="http://wsServicios/srvProveedor/listarPorIDResponse" message="tns:listarPorIDResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://wsServicios/srvProveedor/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://wsServicios/srvProveedor/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
</portType>
<binding name="srvProveedorPortBinding" type="tns:srvProveedor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvProveedor">
<port name="srvProveedorPort" binding="tns:srvProveedorPortBinding">
<soap:address location="http://10.0.0.7:8080/wsVentasOnline/srvProveedor"/>
</port>
</service>
</definitions>