appVentasOnline/src/wsdl/10.0.0.7_8080/wsVentasOnline/srvUsuario.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsServicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsServicios/">

<xs:element name="autenticar" type="tns:autenticar"/>

<xs:element name="autenticarResponse" type="tns:autenticarResponse"/>

<xs:complexType name="autenticar">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="idEmpleado" type="xs:int"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>